/*HTML Primitives*/
 code {
     background: black;
     color: pink;
     overflow-wrap: break-word;
     text-align: left;
}
 p {
     min-width: 70%;
     max-width: 85%;
}

body {
	min-width: 100%;
    min-height: 100%;
    margin: 0px;
}
/*Classes*/
.avatar img {
    max-width: 175px;
    border-radius: 50%;
}

 .byline {
     font-style: italic;
}
 .coding-prompt {
     background-color: #4d6e8f;
     color: white;
     text-align: left;
}
.collapse-fluid {
     display: none;
}
.collapse-sticky{
	flex-grow: 1;
}
.collapsible {
   align-self: flex-start;
   display: flex;
   flex-direction: column;
}
 .explanatory-blurb {
     background-color: #4d8f59;
     color: #daecdd;
     text-align: left;
}
 .inner-piece {
     display: block;
     min-width: 65%;
     padding: 3em;
}
 .longform-body {
     text-align: center;
     display: flex;
     flex-direction: column;
     align-items: center;
}
.masthead {
	padding: .2em;
	margin-left: .25em;
	margin-top: .5em;
	margin-bottom: .5em;
}
.masthead:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 70%;
    padding-top: 20px;
    border-bottom: 1px solid gray; /* This creates the border. Replace black with whatever color you want. */
}
.main-layout {
     display: flex;
     flex-direction: row;
     flex-wrap:  nowrap;
     margin-top: .25em;
	min-width: 100%;
    min-height: 100%;
}
.main-body {
	flex-basis: auto;
	min-width: 75%;
}
.side-nav {
     padding: .5 em;
     text-align: center;
     display: flex;
     flex-direction: column;
     background-color: #C1A29B;
     flex-basis: auto;
}
.nav-header {
  text-decoration: underline;
  background-color: #C1A29B;
  margin-bottom: .5em;
  padding: .5em;
}

 .nav-options-container :nth-of-type(even) div {
     background-color: #C1A29B;
     padding: .75em;
}

 .nav-options-container :nth-of-type(odd) div {
     background-color: #c8c1bc;
     padding: .75em;
}
 